{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Placeholder Images for Web Designers</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css">
</head>
<body>
    <h1>Placeholder Images for Web Designers</h1>
    <p>Serve placeholder images for web design mockups.</p>
    <h2>Examples</h2>
    <pre>&lt;img src="{{ example }}"&gt;</pre>

    <ul>
        <li><a href="{% url 'placeholder' width=50 height=50 %}"><img src="{% url 'placeholder' width=50 height=50 %}"></a></li>
        <li><a href="{% url 'placeholder' width=150 height=50 %}"><img src="{% url 'placeholder' width=150 height=50 %}"></a></li>
        <li><a href="{% url 'placeholder' width=50 height=150 %}"><img src="{% url 'placeholder' width=50 height=150 %}"></a></li>
    </ul>
</body>
</html>
